body {
  margin: 0;
  font-family: "Roboto";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  text-align: center;
}

h1 {
  text-transform: uppercase;
}

.mod-title {
  font-weight: bold;
}
